body{
	background-color:#f2f2f2
}

.centrado{
    
    margin: 0 auto;
}

header{
    text-align: center;
    background-color: burlywood;
    height: 70px;
    
}

.imagen{
   margin: 0 auto;
   //filter:brightness(5%); 
}


